div.App {
  text-align: left;
  height: 30%;
  width: 30%;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
  margin: auto;
  
  display: flex;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;

  padding: 25px 50px;
}

